/* admin */
#cog-blue{
  color: #0269c2;
}

/* Menu principal */

#menu-principal.navbar-default .navbar-brand {
  color: rgba(255, 255, 255, 1);
}
#menu-principal.navbar-default {
  font-size: 14px;
  background-color: #0269c2;
  border-width: 2px;
  border-radius: 0px;
}
#menu-principal.navbar-default .navbar-nav>li>a {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(248, 248, 248, 0);
}
#menu-principal.navbar-default .navbar-nav>li>a:hover,
#menu-principal.navbar-default .navbar-nav>li>a:focus {
  color: rgba(51, 51, 51, 1);
  background-color: rgba(248, 248, 248, 0);
}
#menu-principal.navbar-default .navbar-nav>.active>a,
#menu-principal.navbar-default .navbar-nav>.active>a:hover,
#menu-principal.navbar-default .navbar-nav>.active>a:focus {
  color: rgba(85, 85, 85, 1);
  background-color: rgba(255, 255, 255, 1);
}
#menu-principal.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
#menu-principal.navbar-default .navbar-toggle:hover,
#menu-principal.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
#menu-principal.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
#menu-principal.navbar-default .navbar-toggle:hover .icon-bar,
#menu-principal.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #5c6bdb;
}

@media (max-width: 767px) {
  #menu-principal.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
}
