/* Pinterest grid */ 
.grid {
	position: relative;
	max-width: 100%;
	width: 100%;
}

.avatarMenu {
	width: 40px;
	height: 40px;
	border: 1px solid gray;
	border-radius: 50%;
	margin-right: 10px;
}

.white-panel-imagen {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.white-panel {
	position: absolute;
	background: white;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	padding: 10px;
}

.white-panel h4 {
	font-size: 1em;
	text-transform: uppercase;
	max-width: 10vm;
	word-break: break-all;
}

.white-panel p {
	max-width: 101vm;
	word-break: break-all;

}

.white-panel h1 a {
color: #A92733;
}

.white-panel:hover {
box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
margin-top: -5px;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

/* Menu principal */

#menu-principal.navbar-default .navbar-brand {
  color: rgba(255, 255, 255, 1);
}
#menu-principal.navbar-default {
  font-size: 14px;
  background-color: #0269c2;
  border-width: 2px;
  border-radius: 0px;
}
#menu-principal.navbar-default .navbar-nav>li>a {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(248, 248, 248, 0);
}
#menu-principal.navbar-default .navbar-nav>li>a:hover,
#menu-principal.navbar-default .navbar-nav>li>a:focus {
  color: rgba(51, 51, 51, 1);
  background-color: rgba(248, 248, 248, 0);
}
#menu-principal.navbar-default .navbar-nav>.active>a,
#menu-principal.navbar-default .navbar-nav>.active>a:hover,
#menu-principal.navbar-default .navbar-nav>.active>a:focus {
  color: rgba(85, 85, 85, 1);
  background-color: rgba(255, 255, 255, 1);
}
#menu-principal.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
#menu-principal.navbar-default .navbar-toggle:hover,
#menu-principal.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
#menu-principal.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
#menu-principal.navbar-default .navbar-toggle:hover .icon-bar,
#menu-principal.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #5c6bdb;
}

@media (max-width: 767px) {
  #menu-principal.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
}
/* UploadHelper */

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}


/* Panel */
.panel-default > .panel-heading {
  background-image: none;
  background-color: #0269c2;
  color: white;
}

/* profile */
.profile-well {
  margin-top:-20px;
  background-color:#0269c2;
  border:2px solid #FFFFFF;
  text-align:center;
  cursor:pointer;
  padding: 10px;
  border-radius: 0px !important;
  color: rgba(255, 255, 255, 1);
}

.profile-well:hover {
  margin-top:-20px;
  background-color:#0269c2;
  border:2px solid #FFFFFF;
  text-align:center;
  cursor:pointer;
  padding: 10px;
  border-radius: 0px !important;
  color: rgba(85, 85, 85, 1);
}

.header{
  color : #808080;
}

.picture{
  max-height:300px;
  max-width:300px;
}

/* item encuesta */
.shape{    
  border-style: solid; border-width: 0 70px 40px 0; float:right; height: 0px; width: 0px;
  -ms-transform:rotate(360deg); /* IE 9 */
  -o-transform: rotate(360deg);  /* Opera 10.5 */
  -webkit-transform:rotate(360deg); /* Safari and Chrome */
  transform:rotate(360deg);
}
.offer{
  background:#fff; border:1px solid #ddd; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); margin: 15px 0; overflow:hidden;
}
.offer:hover {
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01); 
  -ms-transform: scale(1.01); 
  -o-transform: scale(1.01); 
  -webkit-transition: all 0.1s ease-in-out; 
  -moz-transition: all 0.1s ease-in-out; 
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.shape {
  border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}

.offer-info { border-color: #ffffff; }

.offer-radius{
    border-radius:7px;
}

.offer-info .shape{
  border-color: transparent  #0269ce transparent transparent;
}

.shape-text{
  color:#fff; font-size:12px; font-weight:bold; position:relative; right:-40px; top:2px; white-space: nowrap;
  -ms-transform:rotate(30deg); /* IE 9 */
  -o-transform: rotate(360deg);  /* Opera 10.5 */
  -webkit-transform:rotate(30deg); /* Safari and Chrome */
  transform:rotate(30deg);
} 

.offer-content{
  padding:0 20px 10px;
}

/* notificaciones */
.badge-encuestas {
  background-color: #ffff66;
  color: #000000;
}

/* publicaciones */

/*.textarea-publicaciones {
   width: 50vw;
   margin: auto;
}

.textarea-comentarios {
   width: 50vw;
   margin: auto;
}*/

.overviewContainer {
	/*max-width: 50vw;*/
}

.cabecera-publicacion h1 {
	text-transform: uppercase;
	margin-bottom: 0;
	max-width: 50vm;
	word-break: break-all;
}

.cabecera-publicacion img {
	border: 1px solid lightgray;
	width: 100%;
}

.cabecera-publicacion + h3,
.cabecera-publicacion + h3 + h3,
.like-buttons {
	display: inline-block;
}

.cabecera-publicacion + h3 {
	margin-top: 10px;
}

.cabecera-publicacion + h3 + span {
	font-size: 1em;
	margin-left: 10px;
}

.like-buttons {
	float: right;
	margin-top: 10px;
}

.like-buttons #likePublicacion-button,
#comentarios-container div #likeComentario-button {
	color: green;
}
.like-buttons #disLikePublicacion-button,
#comentarios-container div #disLikeComentario-button {
	color: red;
}

#comentarioDescripcion {
	margin: 30px 0 10px;
}

.avatar {
	width: 50px;
	height: 50px;
	border: 1px solid gray;
	border-radius: 50%;
	margin-right: 10px;
}

/* comentarios */

#comentarios-container .avatar {
	width: 40px;
	height: 40px;
	border: 1px solid gray;
	border-radius: 50%;
	margin-right: 10px;
}

#comentarios-container {
	margin-top: 50px;
}

#comentarios-container div h3,
#comentarios-container div span {
	display: inline-block;
}

#comentarios-container div h3 {
	font-size: 1.3em;
}

#comentarios-container div {
	margin-left: 15px;
}

#comentarios-container div #crearRespuesta + span + span {
	margin-left: 0;
}

#comentarios-container .required-field-block {
	margin-bottom: 20px;
}

#comentarios-container .formateado {
	margin: -40px 0 -30px;
}

#comentarios-container div .btn {
	background-color: white;
	color: #286090;
	padding: 3px 10px;
	font-size: 12px;
}

#comentarios-container div .btn-default {
	color: #333;
}

#comentarios-container div .btn span {
	margin: 0;
}

#comentarios-container div #respuestaDescripcion {
	margin-bottom: 10px;
}

/* Respuestas */
#respuesta-container .avatar {
	width: 30px;
	height: 30px;
	border: 1px solid gray;
	border-radius: 50%;
	margin-right: 10px;
}
/* line breaks */
.formateado {
	white-space: pre-wrap;
	margin-top: -30px;
}

/*Responsive Publicaciones*/
@media screen and (max-width: 768px) {
	
	.overviewContainer {
		max-width: none;
	}
	
	.overviewContainer .row {
		margin: 0;
	}
	
	.overviewContainer .like-buttons {
		float: none;
	}
	
	.textarea-comentarios,
	.textarea-publicaciones {
		width: 90%;
	}
}


