<h1><a href="#"><%= id_usuario %></a></h1>
<td><p><%= descripcion %></p></td>
<td><span>
	<%= cantidad_likes %>
	<button id="likeComentario-button" type="button" class="btn btn-default tip fav ladda-button" title="" data-style="expand-right" data-spinner-color="#428bca" data-original-title="like">
		<span class="glyphicon glyphicon-thumbs-up"></span>
	</button>
</span></td>
<td><span>
	<%= cantidad_disLikes %>
	<button id="disLikeComentario-button" class="btn btn-default tip fav ladda-button" title="" data-style="expand-right" data-spinner-color="#428bca" data-original-title="dislike"><span class="glyphicon glyphicon-thumbs-down"></span></button>
</span></td>
<td><%= fechaCreacion %></td>
			
	   
