<div>
  <div class="page-header text-center">
    <h2>Creación de encuesta</h2>
  </div>

  <div>
    <button id="agregar-pregunta-button" type="button" class="btn btn-primary pull-right" style="margin-right:20px">
      <span class="glyphicon glyphicon-plus-sign"></span> Pregunta    
    </button>
    <button id="crear-encuesta-button" type="button" class="btn btn-primary" style="margin-left:20px">
      <span class="glyphicon glyphicon-hdd"></span> Crear
    </button>

  </div>

  <div style="margin-top:100px">
    <div id="preguntas-container"></div>
  </div>
</div>
