<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3" style="margin-top:150px">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <strong>Confirmar envio</strong>
            <span id="confirmar-status" class="hidden">
              &nbsp<i class="fa fa-spinner fa-spin fa-lg"></i>
            </span>
          </h3>
        </div>
        <div class="panel-body">
          <div>
            Por favor, comfirme el envio de la encuesta, presionando el boton "Enviar"
          </div>
          <br>
          <br>
          <button id="enviar-button" type="submit" class="btn btn-primary center-block">Enviar</button>
          <hr>
          <div id="status">
            Operacion a confirmar
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
