<div>
  <div class="page-header text-center">
    <h2>Ver estadisticas de encuestas</h2>
  </div>

  <div class="col-sm-10 col-sm-offset-1">
    <h4>Encuestas</h4>
    <div class="form-group">
      <label for="usr">Filtrar:</label>
      <input type="text" class="form-control" id="filtrar-input" style="width:300px">
    </div>
    <div class="table-responsive">
      <table id="tabla" class="table table-bordred table-striped">
        <thead>
          <th>Código</th>
          <th>Tópico</th>
          <th>Título</th>
          <th>Acciones</th>
        </thead>
        <tbody id="item-encuestas-container">
        </tbody>
      </table>
    </div>
  </div>
</div>
