<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"><%= id_usuario %></h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-3" align="center"> <img src="https://placehold.it/255x255" height="255px" width="255px"> </div>
        <br>
        <div class="col-xs-9">
          <table class="table">
            <tbody>
              <tr>
                <td class="col-xs-2">Nombre:</td>
                <td id="nombre" class="user-data"><%= nombre %></td>
              </tr>
              <tr>
                <td class="col-xs-2">Apellido:</td>
                <td id="apellido" class="user-data"><%= apellido %></td>
              </tr>
              <tr>
                <td class="col-xs-2">Email:</td>
                <td id="apellido" class="user-data"><%= email %></td>
              </tr>
              <tr>
                <td class="Col-xs-2">Tipo:</td>
                <td id="tipo" class="user-data">
                  <% if (esCiudadano) { %>
                    Ciudadano
                  <% } else { %>
                    Candidato
                  <% }%>
                </td>
              </tr>
              <tr>
                <td class="Col-xs-2">Estado:</td>
                <td id="tipo" class="user-data">
                  <% if (desactivado) { %>
                    Desactivado
                  <% } else { %>
                    Activo
                  <% }%>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="ui-container" class="text-center">
      </div>
    </div>
    <div class="panel-footer">
      <button id="mensaje-button" type="button" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-envelope"></span></button>
      <span class="pull-right">
        <button id="editar-button" type="button" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-edit"></span></button>

      </span>
    </div>

  </div>
</div>
</div>
</div>
