<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= id_usuario %>
        <% if (verificar) { %>
        <span id="verificar-status" class="hidden">
          &nbsp<i class="fa fa-spinner fa-spin fa-lg"></i>
        </span>
        <% } %>
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4" align="center">
          <img src="/<%= imagen_perfil %>" style="max-height:250px; max-width:250px" class="img-thumbnail">
        </div>
        <br>
        <div class="col-md-8">
          <table class="table">
            <tbody>
              <tr>
                <td class="col-md-2">Nombre:</td>
                <td id="nombre" class="user-data"><%= nombre %></td>
              </tr>
              <tr>
                <td class="col-md-2">Apellido:</td>
                <td id="apellido" class="user-data"><%= apellido %></td>
              </tr>
              <tr>
                <td class="col-md-2">Email:</td>
                <td id="apellido" class="user-data"><%= email %></td>
              </tr>
              <tr>
                <td class="col-md-2">Zona:</td>
                <td id="apellido" class="user-data"><%= zona %></td>
              </tr>
              <tr>
                <td class="col-md-2">Año nacido:</td>
                <td id="apellido" class="user-data"><%= ano_nacimiento %></td>
              </tr>
              <tr>
                <td class="Col-md-2">Tipo:</td>
                <td id="tipo" class="user-data">
                  <% if (esCiudadano) { %>
                    Ciudadano
                  <% } else { %>
                    Candidato
                  <% }%>
                </td>
              </tr>
              <% if (!esCiudadano) { %>
              <tr>
                <td class="Col-md-2">Verificado:</td>
                <td id="tipo" class="user-data">
                  <% if (verificado) { %>
                  <b>Si</b>
                  <% } else { %>
                    No
                  <% }%>
                </td>
              </tr>
              <% } %>
              <tr>
                <td class="Col-md-2">Estado:</td>
                <td id="tipo" class="user-data">
                  <% if (desactivado) { %>
                    Desactivado
                  <% } else { %>
                    Activo
                  <% }%>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="ui-container" class="text-center">
      </div>
    </div>
    <div class="panel-footer clearfix">
      <span class="pull-right">
        <% if (verificar) { %>
          <% if (verificado) { %>
          <button id="verificar-button" type="button" class="btn btn-primary" disabled>
            Verificar
            <span class="glyphicon glyphicon-ok"></span>
          </button>
          <% } else { %>
          <button id="verificar-button" type="button" class="btn btn-primary">
            Verificar
            <span class="glyphicon glyphicon-ok"></span>
          </button>
          <% } %>
        <% } else { %>
        <button id="editar-button" type="button" class="btn btn-primary">
          Editar
          <span class="glyphicon glyphicon-edit"></span>
        </button>
        <% } %>
      </span>
    </div>

  </div>
</div>
</div>
</div>
