<div class="row" style="margin-top:10px">
  <div class="col-xs-12">
    <div class="input-group">
<span class="input-group-btn">
        <button type="button" class="btn btn-primary btn-small">
          <span class="glyphicon glyphicon-arrow-up"></span>
        </button>
        <button type="button" class="btn btn-primary btn-small">
          <span class="glyphicon glyphicon-arrow-down"></span>
        </button>
      </span>

      <input id="respuesta-input" type="text" class="form-control" value="<%= texto %>">
      <span class="input-group-btn">
       <button id="eliminar-respuesta-button" type="button" class="btn btn-danger btn-small">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </span>
    </div>
  </div>
</div>
