<div class="container">
  <div class="page-header text-center">
    <h2>Ver Solicitudes</h2>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h4>
        Solicitudes de verificacion
        <span id="solicitudes-status" class="hidden">
          &nbsp<i class="fa fa-spinner fa-spin"></i>
        </span>
      </h4>
      <div id="tabla" class="table-responsive">
        <table class="table table-bordred table-striped">
          <thead>
            <th>Id usuario</th>
            <th>Telefono</th>
            <th>Cuenta social</th>
            <th>Ver perfil</th>
          </thead>
          <tbody id="solicitudes-container">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
