<div class="container">
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <% if (candidatos) { %>
      <h4>Candidatos</h4>
      <% } else { %>
      <h4>Usuarios</h4>
      <% } %>
      <div>
        <div class="form-group">
          <label for="usr">Filtrar:</label>
          <input type="text" class="form-control" id="filtrar-input" style="width:300px">
        </div>
      <div id="tabla" class="table-responsive">
        <table class="table table-bordred table-striped">
          <thead>
            <th>Id usuario</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <% if (candidatos) { %>
            <th>Tipo</th>
            <% } %>
            <th>Ver</th>
          </thead>
          <tbody id="usuarios-container">
          </tbody>
        </table>
</div>
