<div>
  <div class="page-header text-center">
    <h2 id="titulo-vista">Verificar candidato</h2>
  </div>

  <br>
  <br>

  <div class="col-md-offset-1">
    <form role="form" class="form-inline">
      <div class="form-group">
        <label for="candidato-select">Candidato &nbsp</label>
        <select id="candidato-select" class="select2 form-control" style="width:150px">
        </select>
        <span id="verificar-select-status" class="hidden">
          &nbsp<i class="fa fa-spinner fa-spin fa-lg"></i>
        </span>
      </div>
    </form>
  </div>

  <div style="margin-top:20px">
    <div id="candidato-container"></div>
  </div>
</div>
