<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4" style="margin-top:100px">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title"><strong>Propuestas</strong></h3></div>
        <div class="panel-body">
          <form role="form">
			<div class="form-group">			
				<label for="input-titulo">Titulo</label>
                <input type="text" class="form-control" id="titulo" placeholder="Titulo">			
				<label for="input-descripcion">Descripción</label>
				<textarea id="descripcion" rows="5" cols="40">Escribe aquí tus comentarios</textarea>
			    <select class="js-ListaCandidatos">
				</select>
				<!-- <div id="uploadFile"></div> -->
			</div>
            <button id="publish-button" type="submit" class="btn btn-sm btn-default">Publicar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
