<div class="container">
  <div class="panel panel-danger">
		<div class="panel-heading">
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="box">
						<div class="info">
							<h4 class="text-center">Title</h4>
							<img src="http://plazas.faggella.com.ar/Imagenes/Plaza_de_Valdenegro_Buenos_Aires.jpg" width=500 height=200 >
							<div class="box-icon">
								<span class="fa fa-4x fa-html5"><div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://ambito.com/diario/2011/0503/imagenes/not_20110503_580675.jpg" class="img-circle img-responsive"> </div></span>
							</div>							
							<input type="text" class="form-control" id="titulo" value="<%= descripcion %>">	
							<textarea id="descripcion" rows="5" cols="40"><%= descripcion %></textarea>			
							<span>
								<button id="likePropuesta-button" type="button" class="btn btn-default tip fav ladda-button" title="" data-style="expand-right" data-spinner-color="#428bca" data-original-title="like">
									<span class="glyphicon glyphicon-thumbs-up"></span>
								</button>
							</span>
							<span>
								<button id="disLikePropuesta-button" class="btn btn-default tip fav ladda-button" title="" data-style="expand-right" data-spinner-color="#428bca" data-original-title="dislike"><span class="glyphicon glyphicon-thumbs-down"></span></button>
							</span>
							<div class="required-field-block">
								<textarea id="comentario" rows="3" class="form-control" placeholder="Deje un comentario"></textarea>
								<button id="guardar-comentario-button" type="button" class="btn btn-primary">
								  <span class="glyphicon glyphicon-ok"></span> Guardar
								</button>

								<button id="cancelar-comentario-button" type="button" class="btn btn-default">
								  <span class="glyphicon glyphicon-remove"></span> Cancelar
								</button>
							</div>
						</div>
					</div>				
				</div>
			</div>
        </div>
	</div>
</div>


