<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3" style="margin-top:100px">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title"><strong>Cambiar imagen de perfil</strong></h3></div>
        <div class="panel-body">
          <form role="form">
            <div class="form-group">
              <button id="subir-imagen-button" class="btn btn-sm btn-default">Subir imagen</button>
            </div>
            <div id="upload-container">
            </div>
            <button id="cambiar-button" type="submit" class="btn btn-sm btn-default">Cambiar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
