<h3><a href="#"><%= id_usuario %></a></h3>
<td><span class="fecha"><%= fechaCreacion %></span></td>
<td><p><%= descripcion %></p></td>
<td><span>
	<button id="likeComentario-button" type="button" class="btn btn-default tip fav ladda-button" title="" data-style="expand-right" data-spinner-color="#428bca" data-original-title="like">
		<span data-id="likeComentario-<%=id%>" class="glyphicon glyphicon-thumbs-up"><%=cantidad_likes%></span>
	</button>
</span></td>
<td><span>

	<button id="disLikeComentario-button" class="btn btn-default tip fav ladda-button" title="" data-style="expand-right" data-spinner-color="#428bca" data-original-title="dislike">
		<span data-id="disLikeComentario-<%=id%>" class="glyphicon glyphicon-thumbs-down"><%=cantidad_disLikes%></span>
	</button>
</span></td>

<hr/>