<h3><img class="avatar" src="api/images/<%= imagen_perfil %>"><a href="#"><%= id_usuario %></a></h3>
<td><span class="fecha"><%= fechaCreacion %></span></td>
<td>
	<div class="formateado">
		<p><%= descripcion %></p>
	</div>
</td>
  <button data-id="crear-respuesta-button-<%=id%>" id="crear-respuesta-button" type="button" class="btn btn-primary">
	<span class="glyphicon glyphicon-ok"></span> Responder
  </button>
<div data-id="crearRespuesta-<%=id%>" class="required-field-block" hidden>
  <textarea id="respuestaDescripcion" rows="3" class="form-control textarea-respuestas" placeholder="Respoder"></textarea>
  <button id="guardar-respuesta-button" type="button" class="btn btn-primary">
	<span class="glyphicon glyphicon-ok"></span> Guardar
  </button>

  <button id="cancelar-respuesta-button" type="button" class="btn btn-default">
	<span class="glyphicon glyphicon-remove"></span> Cancelar
  </button>
</div>
<td><span>
	<button id="likeComentario-button" type="button" class="btn btn-default tip fav ladda-button" title="" data-style="expand-right" data-spinner-color="#428bca" data-original-title="like">
		<span data-id="likeComentario-<%=id%>" class="glyphicon glyphicon-thumbs-up"><%=cantidad_likes%></span>
	</button>
</span></td>
<td><span>
	<button id="disLikeComentario-button" class="btn btn-default tip fav ladda-button" title="" data-style="expand-right" data-spinner-color="#428bca" data-original-title="dislike">
		<span data-id="disLikeComentario-<%=id%>" class="glyphicon glyphicon-thumbs-down"><%=cantidad_disLikes%></span>
	</button>
</span></td>

<div style="margin-left:20px">
	<div id="respuestas-container"></div>
</div>
<hr/>