<div class="container-fluid">
  <div class="page-header text-center">
    <h2><b>Completar encuesta</b></h2>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div><h4><b>Tópico:</b> <%= topico %></h4></div>
      <div><h4><b>Título:</b> <%= titulo %> </h4></div>
      <div class="text-center"><h3><b>Preguntas</b></h3></div>
      <div id="preguntas-container"></div>
    </div>
  </div>
  <br><br>
  <div class="text-center">
    <button id="completar-button" class="btn btn-primary">Completar</button>
    <br><br>
    <div>
      <p id="status"></p>
    </div>
    <br>
  </div>
</div>
