<!--div class="container">
  <h2>Mis encuestas</h2>
  <hr>
  <div class="col-sm-10 col-sm-offset-1">
    <div class="table-responsive">
      <table class="table table-bordred table-striped">
        <thead>
          <th>Título</th>
        </thead>
        <tbody id="item-encuestas-container">
        </tbody>
      </table>
    </div>
  </div>
</div-->
<div class="container">
  <div>
    <h3>Mis encuestas</h3>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div id="encuestas-container"></div>
    </div>
  </div>
</div>
