<div class="container">
  <div>
    <h2>
      <% if (propuestas == true) { %>
      Propuestas
      <% } else { %>
      Quejas
      <% } %>

      <% if (populares == true) { %>
      más populares
      <div>
        <h5>
          Ordenar por: &nbsp
          <button id="cambiar" class="btn btn-primary btn-sm">
            <i class="fa fa-clock-o"></i> &nbsp Más recientes
          </button>
          <span id="status-orden" class="hidden">
            &nbsp<i class="fa fa-spinner fa-spin fa-lg"></i>
          </span>
        </h5>
      </div>
      <% } else { %>
      más recientes
      <div>
        <h5>
          Ordenar por: &nbsp
          <button id="cambiar" class="btn btn-primary btn-sm">
            <i class="fa fa-thumbs-o-up"></i> &nbsp Más populares
          </button>
          <span id="status-orden" class="hidden">
            &nbsp<i class="fa fa-spinner fa-spin fa-lg"></i>
          </span>
        </h5>
      </div>
      <% } %>

    </h2>

    <hr>
    <section id="grid-container" class="grid"></section>
    <hr>
  </div>
</div>

