<div class="container">
  <div>
    <h2>
      <% if (propuestas == true) { %>
      Propuestas
      <% } else { %>
      Quejas
      <% } %>

      <% if (populares == true) { %>
      por popularidad
      <div>
      <br>
        <button id="cambiar" class="btn btn-primary">
          <i class="fa fa-heart"></i>&nbsp Ver mas recientes &nbsp
        </button>
      <span id="status-orden" class="hidden">
        <i class="fa fa-spinner fa-spin"></i>
      </span>
      </div>
      <% } else { %>
      más recientes
      <div>
      <br>
        <button id="cambiar" class="btn btn-primary">
          <i class="fa fa-heart"></i>&nbsp Ver por popularidad
        </button>
      <span id="status-orden" class="hidden">
        <i class="fa fa-spinner fa-spin"></i>
      </span>
      </div>
      <% } %>

    </h2>

    <hr>
    <section id="publicaciones-container" class="grid"></section>
    <hr>
  </div>
</div>

