<h5><img class="avatar" src="/<%= imagen_perfil %>"><a href="#usuarios/<%= id_usuario %>"><%= id_usuario %></a></h5>
<td><span class="fecha"><%= fechaCreacion %></span></td>
<td>
	<div class="formateado">
		<p><%= descripcion %></p>
	</div>
</td>
<td><span>
	<button id="likeRespuesta-button" type="button" class="btn btn-default tip fav ladda-button" title="" data-style="expand-right" data-spinner-color="#428bca" data-original-title="like">
		<span data-id="likeRespuesta-<%=id%>" class="glyphicon glyphicon-thumbs-up"><%=cantidad_likes%></span>
	</button>
</span></td>
<td><span>
	<button id="disLikeRespuesta-button" class="btn btn-default tip fav ladda-button" title="" data-style="expand-right" data-spinner-color="#428bca" data-original-title="dislike">
		<span data-id="disLikeRespuesta-<%=id%>" class="glyphicon glyphicon-thumbs-down"><%=cantidad_disLikes%></span>
	</button>
</span></td>
