<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>#ArgentinaVota - Admin</title>

    <!-- Bootstrap -->
    <link href="/stylesheets/lib/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/lib/select2.css" rel="stylesheet">
    <link href="/stylesheets/lib/select2-bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/admin.css" rel="stylesheet">

  </head>
  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <% if (!usuario) { %>
            <a class="navbar-brand" href="/admin">#AV - Admin</a>
          <% } else { %>
            <a class="navbar-brand" href="/admin/#inicio">#AV - Admin</a>
          <% } %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li id="login-nav-link">
              <% if (!usuario) { %>
                <a href="#login"><span class="glyphicon glyphicon-user" style="margin-right:5px"></span>Login</a>
              <% } else { %>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-user" style="margin-right:5px"></span>
                    <%= usuario.id_usuario %>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#usuarios/<%= usuario.id_usuario %>">Mis datos</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                      <a href="/api/admin/logout">Logout</a>
                    </li>
                  </ul>
                </li>

              <% } %>
            </li>
          </ul>
          <ul class="nav navbar-nav">
            <!-- Dropdown administracion -->
            <% if (usuario && usuario.admin) { %>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-wrench" style="margin-right:5px"></span>
                  Administración
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#usuarios">Usuarios</a>
                </li>
                  <li role="separator" class="divider"></li>
                <li>
                  <a href="#">Candidatos</a>
                </li>
                <li>
                  <a href="#">Verificar candidato</a>
                </li>
              </ul>
              </li>
            <% } %>
            <!-- Dropdown Encuestas -->
            <% if (usuario && usuario.admin) { %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-list" style="margin-right:5px"></span>
                    Encuestas
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#encuestas/creacion">Crear encuesta</a>
                  </li>
                  <li>
                    <a href="#encuestas">Ver encuestas</a>
                  </li>
                </ul>
              </li>
            <% } %>
            <!-- Dropdown Estadisticas -->
            <% if (usuario && usuario.admin) { %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-stats" style="margin-right:5px"></span>
                    Estadísticas
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#">Generar estadística</a>
                  </li>
                  <li>
                    <a href="#">Ver estadísticas</a>
                  </li>
                </ul>
              </li>
            <% } %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- Main container -->
    <div id="main-container"></div>

    <!-- Error modal -->
    <div class="modal fade" id="error-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><p class="text-danger">Se ha producido un error</p></h4>
          </div>
          <div class="modal-body">
            <div id="mensaje"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Libraries -->
    <script src="/javascripts/lib/jquery-1.11.3.js"></script>
    <script src="/javascripts/lib/bootstrap.js"></script>
    <script src="/javascripts/lib/underscore.js"></script>
    <script src="/javascripts/lib/backbone.js"></script>
    <script src="/javascripts/lib/select2.js"></script>
    <!-- Require -->
    <script src="/javascripts/lib/require.js" data-main="/admin/config/config.js"></script>
  </body>
</html>
