<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>#ArgentinaVota - Admin</title>

    <!-- Bootstrap -->
    <link href="/stylesheets/lib/bootstrap.css" rel="stylesheet">
  </head>
  <body>


    <!-- Main container -->
    <div id="main-container"></div>

    <!-- Libraries -->
    <script src="/javascripts/lib/jquery-1.11.3.js"></script>
    <script src="/javascripts/lib/bootstrap.js"></script>
    <script src="/javascripts/lib/underscore.js"></script>
    <script src="/javascripts/lib/backbone.js"></script>
    <!-- Require -->
    <script src="/javascripts/lib/require.js" data-main="/admin/config/config.js"></script>
  </body>
</html>
