<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>#ArgentinaVota</title>

    <!-- Bootstrap -->
    <link href="/stylesheets/lib/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/lib/select2.css" rel="stylesheet">
    <link href="/stylesheets/lib/select2-bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/lib/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/ArgentinaVota.css" rel="stylesheet">

  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-default" id="menu-principal">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">#ArgentinaVota</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li id="login-nav-link">
              <% if (!usuario) { %>
                <a href="#login"><span class="glyphicon glyphicon-user" style="margin-right:5px"></span>Login</a>
              <% } else { %>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-user" style="margin-right:5px"></span>
                    <%= usuario.id_usuario %>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#usuarios/<%= usuario.id_usuario %>">Mis datos</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                      <a href="/api/usuarios/logout">Logout</a>
                    </li>
                  </ul>
                </li>

              <% } %>
            </li>
          </ul>
          <ul class="nav navbar-nav">
            <!-- Dropdown propuestas -->
            <% if (usuario) { %>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-university"></i>
                  Propuestas
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/#propuestas">Ver propuestas</a>
                </li>
                  <li role="separator" class="divider"></li>
                <li>
                  <a href="/#propuestas/nueva">Nueva propuesta</a>
                </li>
              </ul>
              </li>
            <% } %>
            <!-- Dropdown Quejas -->
            <% if (usuario) { %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bullhorn"></i>
                    Quejas
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#/quejas">Ver quejas</a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <a href="#/quejas/nueva">Nueva queja</a>
                  </li>
                </ul>
              </li>
            <% } %>
            <!-- Dropdown Encuestas -->
            <% if (usuario) { %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-list" style="margin-right:5px"></span>
                    Encuestas
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#">Mis encuestas</a>
                  </li>
                </ul>
              </li>
            <% } %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- Main container -->
    <div id="main-container"></div>

    <!-- Libraries -->
    <script src="/javascripts/lib/jquery-1.11.3.js"></script>
    <script src="/javascripts/lib/bootstrap.js"></script>
    <script src="/javascripts/lib/underscore.js"></script>
    <script src="/javascripts/lib/backbone.js"></script>
    <script src="/javascripts/lib/select2.js"></script>
    <script src="/javascripts/lib/pinterest_grid.js"></script>
    <!-- Require -->
    <script src="/javascripts/lib/require.js" data-main="/frontend/config/config.js"></script>
    <script src="/javascripts/ArgentinaVota.js"></script> 
   
  </body>
</html>
